<a href="https://colab.research.google.com/github/MichaelMMDev/calculadora/blob/main/lista_em_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lista=['python', 'academy']
print(lista)

['python', 'academy']

In [ ]:
u=['mika', 'mikael', 'mica', 'krido', 'milka']
s=['09', '80', '0o', '76', 'i9']

print(u[2])
print(s[2])

mica
0o

In [2]:
u=['mika', 'mikael', 'mica', 'krido', 'milka']
s=['09', '80', '0o', '76', 'i9']
u.append('kleiton')
s.append(35)

print(u)
print(s)

['mika', 'mikael', 'mica', 'krido', 'milka', 'kleiton']
['09', '80', '0o', '76', 'i9', 35]

In [3]:
nomes=['jose']
n1= input('digite um nome: ')
n2= input('digite outro outro nome: ')
n3= input('digite outro outro nome: ')

nomes.append(n1)
nomes.append(n2)
nomes.append(n3)

print(nomes)
print(nomes[2])

digite um nome: yuy
digite outro outro nome: igkgi
digite outro outro nome: jhvuyv
['jose', 'yuy', 'igkgi', 'jhvuyv']
igkgi

In [11]:
lista1=[1,2,3]
lista2=[4,5,6]
lista1.extend([lista2])
lista1.extend([8])
lista1.append(9)

print(lista1)

[1, 2, 3, [4, 5, 6], 8, 9]

In [ ]:
lista1=